<div data-test="private-profile-wrapper" class="Container__ContainerStyled-sc-5geka9-0 cExpwr" style="margin-top: 16px;">
    <div class="sc-AxiKw kNozAH">
        <div class="sc-AxirZ Profilestyles__ColStyled-sc-17oc9jl-2 iLJMyK">
            <div class="Spacer__SpacerStyled-sc-11kae1j-0 eoQYxt Boxstyle__BoxStyled-h0e1j3-0 jVwYVj ProfileInfostyles__ContainerBox-is6738-1 cYAoIp">
                <div class="Spacer__SpacerStyled-sc-11kae1j-0 eoQYxt Boxstyle__BoxStyled-h0e1j3-0 dtzhWP">
                    <div class="Spacer__SpacerStyled-sc-11kae1j-0 eoQYxt Boxstyle__BoxStyled-h0e1j3-0 iaMcNr">
                        <div data-test="profile-avatar" class="Avatar__AvatarStyled-sc-13wxhq2-0 keRNqc HybridAvatarstyles__HybridAvatarStyled-sc-5h907d-0 bqHQrK">
                            <div class="AvatarStyle__AvatarWrapper-sc-8xbpkx-1 jGyBKS">
                                <div class="avatar"><img src="{{image}}" decoding="async"></div>
                                <p style="color: green;font-weight: 700;" *ngIf="photoSaveDbInfo>''" [innerHTML]="photoSaveDbInfo"></p>


                            </div>
                            <div class="form-group">

                                <input type="file" accept="image/*" id="file" (change)="onFileSelected($event)" class="form-control">
                                <button style="margin-top: 10px;" type="button" (click)="logout()" class="btn btn-warning btn-lg btn-block ">Çıkış yap</button>
                            </div>
                        </div>
                    </div>
                    <div class="Spacer__SpacerStyled-sc-11kae1j-0 eoQYxt Boxstyle__BoxStyled-h0e1j3-0 dMnPVb ProfileInfostyles__UserDataWrapper-is6738-2 jeNnEm ">
                        <div class="HeadingStyle-tpwkns-0 ipTiGk ">
                            <h1>{{profile.name}} {{profile.surname}}</h1>
                        </div>
                        <div class="Rating__RatingStyled-hhe0e7-0 jNFffP "><svg color="#FFD200 " viewBox="0 0 24 24 " width="18 " height="18 " class="SvgIcon__SvgIconStyled-sc-1fos6oe-0 hbbopy ">
                                <path d="M15.072 8.545l5.073-.02c.274 0 .553.03.819.112.582.18
                                        1.036.593 1.036 1.293 0 .662-.37 1.093-.891 1.47l-4.16 3.178 1.555 5.087c.11.277.153.569.153.885 0 .758-.362 1.45-1.29 1.45-.438 0-.75-.147-1.127-.415l-.142-.103-4.109-3.12-4.068 3.088c-.41.346-.796.55-1.309.55-.854
                                        0-1.311-.694-1.311-1.427 0-.292.057-.572.149-.837l1.6-5.16-4.137-3.16C2.37 11.023 2 10.592 2 9.93c0-.69.445-1.108 1.018-1.29a2.68 2.68 0 0 1 .816-.115l5.092.02 1.576-5.143c.088-.263.16-.443.28-.644.262-.444.638-.758
                                        1.208-.758.569 0 .945.314 1.208.758.119.2.191.38.287.666l1.587 5.12z "></path>
                            </svg>
                            <svg color="#FFD200 " viewBox="0 0 24 24 " width="18 " height="18 " class="SvgIcon__SvgIconStyled-sc-1fos6oe-0 hbbopy ">
                                <path d="M15.072 8.545l5.073-.02c.274 0 .553.03.819.112.582.18 1.036.593 1.036 1.293 0 .662-.37 1.093-.891 1.47l-4.16 3.178 1.555 5.087c.11.277.153.569.153.885 0 .758-.362 1.45-1.29 1.45-.438 0-.75-.147-1.127-.415l-.142-.103-4.109-3.12-4.068
                                        3.088c-.41.346-.796.55-1.309.55-.854 0-1.311-.694-1.311-1.427 0-.292.057-.572.149-.837l1.6-5.16-4.137-3.16C2.37 11.023 2 10.592 2 9.93c0-.69.445-1.108 1.018-1.29a2.68 2.68 0 0 1 .816-.115l5.092.02 1.576-5.143c.088-.263.16-.443.28-.644.262-.444.638-.758
                                        1.208-.758.569 0 .945.314 1.208.758.119.2.191.38.287.666l1.587 5.12z "></path>
                            </svg><svg color="#FFD200 " viewBox="0 0 24 24 " width="18 " height="18 " class="SvgIcon__SvgIconStyled-sc-1fos6oe-0 hbbopy ">
                                <path
                                    d="M15.072 8.545l5.073-.02c.274 0 .553.03.819.112.582.18 1.036.593 1.036 1.293 0 .662-.37
                                        1.093-.891 1.47l-4.16 3.178 1.555 5.087c.11.277.153.569.153.885 0 .758-.362 1.45-1.29 1.45-.438 0-.75-.147-1.127-.415l-.142-.103-4.109-3.12-4.068 3.088c-.41.346-.796.55-1.309.55-.854 0-1.311-.694-1.311-1.427 0-.292.057-.572.149-.837l1.6-5.16-4.137-3.16C2.37
                                        11.023 2 10.592 2 9.93c0-.69.445-1.108 1.018-1.29a2.68 2.68 0 0 1 .816-.115l5.092.02 1.576-5.143c.088-.263.16-.443.28-.644.262-.444.638-.758 1.208-.758.569 0 .945.314 1.208.758.119.2.191.38.287.666l1.587 5.12z ">
                                </path>
                            </svg>
                            <svg color="rgba(255, 210, 0, 0.25) " viewBox="0 0 24 24 " width="18 " height="18 " class="SvgIcon__SvgIconStyled-sc-1fos6oe-0 hbbopy ">
                                <path d="M15.072 8.545l5.073-.02c.274 0 .553.03.819.112.582.18 1.036.593 1.036 1.293 0 .662-.37 1.093-.891 1.47l-4.16 3.178 1.555 5.087c.11.277.153.569.153.885 0 .758-.362 1.45-1.29 1.45-.438 0-.75-.147-1.127-.415l-.142-.103-4.109-3.12-4.068
                                        3.088c-.41.346-.796.55-1.309.55-.854 0-1.311-.694-1.311-1.427 0-.292.057-.572.149-.837l1.6-5.16-4.137-3.16C2.37 11.023 2 10.592 2 9.93c0-.69.445-1.108 1.018-1.29a2.68 2.68 0 0 1 .816-.115l5.092.02 1.576-5.143c.088-.263.16-.443.28-.644.262-.444.638-.758
                                        1.208-.758.569 0 .945.314 1.208.758.119.2.191.38.287.666l1.587 5.12z "></path>
                            </svg><svg color="rgba(255, 210, 0, 0.25) " viewBox="0 0 24 24 " width="18 " height="18 " class="SvgIcon__SvgIconStyled-sc-1fos6oe-0 hbbopy ">
                                <path d="M15.072 8.545l5.073-.02c.274 0 .553.03.819.112.582.18 1.036.593
                                        1.036 1.293 0 .662-.37 1.093-.891 1.47l-4.16 3.178 1.555 5.087c.11.277.153.569.153.885 0 .758-.362 1.45-1.29 1.45-.438 0-.75-.147-1.127-.415l-.142-.103-4.109-3.12-4.068 3.088c-.41.346-.796.55-1.309.55-.854 0-1.311-.694-1.311-1.427
                                        0-.292.057-.572.149-.837l1.6-5.16-4.137-3.16C2.37 11.023 2 10.592 2 9.93c0-.69.445-1.108 1.018-1.29a2.68 2.68 0 0 1 .816-.115l5.092.02 1.576-5.143c.088-.263.16-.443.28-.644.262-.444.638-.758 1.208-.758.569 0 .945.314
                                        1.208.758.119.2.191.38.287.666l1.587 5.12z "></path>
                            </svg>
                        </div>
                        <p class="P__PStyled-mov9gl-0 dwFaz ProfileInfostyles__CityText-is6738-5 bZrzZV ">{{profile.city | formatcity }}</p>
                    </div>
                    <div class="ProfileInfostyles__VerticalDivider-is6738-3 kWXgm "></div>
                </div>

            </div>



            <div data-testid="profile-grid " class="sc-AxiKw cCJbmi ">


                <div class="card-columns ">


                    <div class="card" *ngFor="let product of myProducts">
                        <img (click)="routeDetail(product.id)" style="cursor: pointer;" height="300" class="card-img-top center" src="{{product.image_list[0]}}">


                        <div class="card-body ">
                            <h5 style="color: black;font-weight: bold;overflow: hidden;text-overflow: ellipsis;max-width: 200px;white-space: nowrap; " class="card-title ">{{product.header}}</h5>
                            <p style="color: black; " class="card-text ">{{product.category}}</p>
                            <p style="color: black; " class="card-text ">{{product.price | currency:'TL'}}</p>
                        </div>
                        <div class="card-footer">
                            <button (click)="retryPublishOrDown(1,product.id)" *ngIf="product.state==0" type="button" class="btn btn-primary btn-lg btn-block ">Yayından kaldır</button>
                            <button (click)="retryPublishOrDown(0,product.id)" *ngIf="product.state==1" type="button" class="btn btn-success btn-lg btn-block ">Tekrar yayına al</button>
                            <p [style.color]="product.state === 0 ? '' : 'green'" *ngIf="changeProductStateMessage>'' && product.id==_product_id" [innerHTML]="changeProductStateMessage"></p>
                        </div>
                    </div>



                </div>









            </div>




        </div>
    </div>
</div>